
<body>
    <div class="Box">
    <h1>Login Page</h1>
    <div class= "TitleBox">
    <h3>Please Enter Your Information Below</h3>
    <form id= "login-form" method="POST" action = "/users/login", enctype="application/x-www-form-urlencoded">
    <label>Username</label>
    <input type="text"  name="username">
    <br/>
    <label>Password</label>
    <input type="password"  name="password">
    <br/>
    <br/>
    <label>Submit</label>
    <input type="submit">
    <br/>
    <Label> Do Not Have An Account ?<a href="/registration"> Register Here </a></Label>
    </form>
    </div>
    </div>
 </body>